logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.class
*.log
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/
target/
tmp/
.sbtserver
.bloop/
metals.sbt
.metals/
.vscode/
